<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Edit</title>
</head>
<body>
<div th:insert="~{menunavy::futher-nav(isEmployee=${true})}"></div>

<div class="container mt-5">

    <div class="mb-8 ">
        <h3 th:text="#{general.btn.about}" class="mb-4"></h3>

        <!-- Таблица с данными товара -->
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td><strong th:text="#{general.title.name}">Name:</strong></td>
                <td><span th:text="${responseDTO.name}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.model}">Model:</strong></td>
                <td><span th:text="${responseDTO.model}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.category}">Category:</strong></td>
                <td><span th:text="${responseDTO.category}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.manufacturer}">Manufacturer:</strong></td>
                <td><span th:text="${responseDTO.manufacturer.name}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.powerType}">Power Type:</strong></td>
                <td><span th:text="${responseDTO.powerType}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.characteristic}">Characteristic:</strong></td>
                <td><span th:text="${responseDTO.characteristic}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.description}">Description:</strong></td>
                <td><span th:text="${responseDTO.description}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.power}">Power:</strong></td>
                <td><span th:text="${responseDTO.power}"></span> W</td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.price}">Price:</strong></td>
                <td><span th:text="${responseDTO.price}"></span> UAN</td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.discount}">Discount:</strong></td>
                <td><span th:text="${responseDTO.discount}"></span>%</td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.salesCount}">Sales Count:</strong></td>
                <td><span th:text="${responseDTO.salesCount}"></span></td>
            </tr>
            <tr>
                <td><strong th:text="#{object.appliance.netPrice}">Net Price</strong></td>
                <td><span th:text="${responseDTO.priceWithDiscount}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mb-8">
        <h3 th:text="#{appliance.btn.edit}" class="mb-4"></h3>
        <form th:action="@{/internal/appliances/{applianceId}/edit(applianceId=${responseDTO.id})}" th:object="${editDTO}" method="post">
            <input type="hidden" name="_method" value="PUT">

            <div class="mb-3">
                <label for="name" class="form-label" th:text="#{general.title.name}"></label>
                <input type="text" id="name" th:field="*{name}" class="form-control"/>
                <div th:if="${#fields.hasErrors('name')}" class="text-danger mt-2" th:errors="*{name}"></div>
            </div>


            <div class="mb-3">
                <label for="characteristic" class="form-label" th:text="#{object.appliance.characteristic}"></label>
                <input type="text" id="characteristic" th:field="*{characteristic}" class="form-control"/>
                <div th:if="${#fields.hasErrors('characteristic')}" class="text-danger mt-2" th:errors="*{characteristic}"></div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label" th:text="#{object.appliance.price}"></label>
                <input type="text" id="price" th:field="*{price}" class="form-control"/>
                <div th:if="${#fields.hasErrors('price')}" class="text-danger mt-2" th:errors="*{price}"></div>
            </div>

            <div class="mb-3">
                <label for="discount" class="form-label" th:text="#{object.appliance.discount}"></label>
                <input type="number" id="discount" th:field="*{discount}" class="form-control"/>
                <div th:if="${#fields.hasErrors('discount')}" class="text-danger mt-2" th:errors="*{discount}"></div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary" th:text="#{general.btn.update}" ></button>
                <a th:href="@{/internal/appliances}" th:text="#{general.btn.back}" class="btn btn-secondary"></a>
            </div>

        </form>
    </div>

</div>

<div th:insert="~{footer::footer}"></div>
</body>
</html>